* {
	margin:0;
	padding:0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	text-decoration:none;
}
html{
	-webkit-text-size-adjust:none;
	height:100%;
}
::selection {
	background:#FF9000;
	color:#FFF;
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
* html .clearfix{ /* CSS rule for IE6 */
	height:1%;
}
*:first-child+html .clearfix{ /* CSS rule for IE7 */
	min-height:1px;
}

/* General
---------------------------------------------------- */

body{
	color:#FFF6EB;
	font-size:62.5%;
	font-family:'Oxygen', sans-serif;
	background:#FFF6EB;
	height:100%;
	width:100%;
}
strong{
	font-weight:bold;
}
img{
	width:100%;
	border:1px solid #DDD;
	box-shadow:0 0 5px 0 #999;
}
section{
	width:100%;
	height:100%;
	text-align:center;
	position:relative;
	padding:50px 0;
}
.wrapper{
	position:absolute;
	height:auto;
	width:900px;
	top:50%;
	left:50%;
	margin-left:-450px;
}
.left{
	float:left;
	width:45%;
}
.right{
	float:right;
	width:45%;
}
.hidden{
	display:none;
}
.triangle{
	position:absolute;
	top:-1px;
	left:50px;
	width:0;
	height:0;
	border-left:25px solid transparent;
	border-right:25px solid transparent;
	border-top:25px solid #f00;
}

/* Nav bar
---------------------------------------------------- */

nav{
	text-align:right;
	text-transform:uppercase;
	position:absolute;
	z-index:100;
	top:35px;
	width:900px;
	left:50%;
	margin-left:-450px;
}
nav a{
	margin:0 0 0 5px;
}
.button{
	color:#FFFCF5;
	font-size:1.2em;
	margin-top:20px;
	padding:5px 10px;
	background:#FF8000;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
}
.button:hover{
	background:#522E00;
}

/* Arrow
---------------------------------------------------- */

#backTop{
	height:100px;
	width:100px;
	background:url('img/arrow.png') center center no-repeat;
	position:fixed;
	top:0;
	right:10px;
	z-index:200;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}


/* Section one
---------------------------------------------------- */

section#home{
	background:#FFF6EB;
	color:#333;
}
header{
	margin-bottom:25px;
	text-align:left;
}
h1{
	font-size:2.5em;
	font-weight:bold;
	text-transform:uppercase;
	display:inline;
}
header span{
	font-size:1.8em;
	margin-left:10px;
	color:#522E00;
}
p, ul, ol{
	font-size:1.6em;
	line-height:1.7em;
	text-align:justify;
	margin-bottom:25px;
}
ul, ol, dd{
	margin-left:23px;
}
p.small{
	font-size:1.1em;
}
.bigger{
	font-size:1.5em;
	margin-right:5px;
}
#images{
	cursor:pointer;
}
#menu-circ{
	text-align:center;
	margin-top:10px;
}
#menu-circ a{
	cursor:pointer;
	display:inline-block;
	width:10px;
	height:10px;
	margin:0 0 0 3px;
	background: url('img/btn-gray.png') no-repeat top;
}
#menu-circ a:hover,
#menu-circ a:active,
#menu-circ a:first-child{
	background: url('img/btn-orange.png') no-repeat top;
}

/* Section two
---------------------------------------------------- */

section#instructions{
	background:#FF8000;
}
section#instructions .triangle{
	border-top-color:#FFF6EB;
}
h2{
	font-size:2em;
	font-weight:bold;
	margin-bottom:20px;
}

/* Section three
---------------------------------------------------- */

section#howto{
	background:#092;
}
section#howto .triangle{
	border-top-color:#FF8000;
}
dl{
	font-size:1.4em;
	line-height:1.5em;
	text-align:justify;
	margin-bottom:25px;
}
dt{
	font-weight:bold;
}
dd{
	margin-bottom:15px;
}


@media (max-width:960px) {
	body{
		font-size:0.5em;
	}
	section{
		padding:25px 0;
		min-width:900px
	}
	.left, .right{
		width:48%;
	}
}